sudo: false

language: node_js
node_js: "5.1"

install:
  - |
    if [ ! -d sysconfcpus/bin ];
    then
      git clone https://github.com/obmarg/libsysconfcpus.git;
      cd libsysconfcpus;
      ./configure --prefix=$TRAVIS_BUILD_DIR/sysconfcpus;
      make && make install;
      cd ..;
    fi
  - npm install
  - export PATH="`pwd`/node_modules/.bin:$PATH"
  - elm-package install --yes

script:
  - $TRAVIS_BUILD_DIR/sysconfcpus/bin/sysconfcpus -n 2 npm test

cache:
  directories:
    - sysconfcpus
